<%- include("partials/header") -%>

<div class="main">


<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% posts.forEach((element)=>{ %>
    <h2><%= element.postTitle %></h2>

    <% if(element.postBody.length > 250){ %>
        <p><%= element.postBody.substring(0,249) + "... "%><a href='/posts/<%= element.postTitle %>'>Read More</a></p> 
    <% }else{ %>
        <p><%= element.postBody %>
    <% } %>
    
<% }) %>

</div>

<%- include("partials/footer") -%>